* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(53, 54, 54);
    display: grid;
    padding: 4rem;
    /* gap: 1rem; */
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 253, 3);
    border: 2px solid black;
}

@media (min-width:768px) {

    .header,
    .footer {
        grid-column-start: 1;
        grid-column-end: 11;
        background-color: rgb(40, 32, 32);
        color: white;
    }

    .Text-Sec {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 6;
        background-color: black;
        color: white;
    }

    .sidebar {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 6;
        background-color: rgb(170, 52, 254);
    }

    .Ph-Sec {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 6;
        background-color: beige;
    }

    .Info {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 6;
        background-color: rgb(49, 225, 167);
    }


    .container {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

}